:root {
  --ff-primary: "Montserrat", sans-serif;
  --ff-secondary: "Fraunces", serif;

  --fw-bold: 500;
  --fw-bolder: 700;

  --color-primary-300: hsl(158, 36%, 37%);
  --color-primary-400: rgb(26, 64, 49);
  --color-secondary: hsl(30, 38%, 92%);

  --color-neutral-100: hsl(0, 0%, 100%);
  --color-neutral-200: hsl(228, 12%, 48%);
  --color-neutral-300: hsl(212, 21%, 14%);
}

/* RESET */
* {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

@media only screen and (max-width: 39.625em) {
  html {
    font-size: 73%;
  }
}

body {
  box-sizing: border-box;

  height: 100svh;
  font-family: var(--ff-primary);
  font-size: 1.6rem;
  background-color: var(--color-secondary);

  display: flex;
  justify-content: center;
  align-items: center;
}

.product-preview__card {
  max-width: 62rem;
  background-color: var(--color-neutral-100);
  display: flex;
  border-radius: 1rem;
  overflow: hidden;
}

/* 634px */
@media only screen and (max-width: 39.625em) {
  .product-preview__card {
    flex-direction: column;
    margin-inline: 2rem;
  }
}

.product-image {
  flex: 1;
  background-image: url(./images/image-product-desktop.jpg);
  background-size: cover;
}

@media only screen and (max-width: 39.625em) {
  .product-image {
    background-image: url(./images/image-product-mobile.jpg);
    background-size: cover;
    min-height: 30rem;
  }
}

.preview-details {
  width: 50%;
  padding: 3.5rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

@media only screen and (max-width: 39.625em) {
  .preview-details {
    width: 100%;
    padding: 2.5rem;
  }
}
.preview-details__heading {
  font-family: var(--ff-secondary);
  color: var(--color-neutral-300);
  padding-inline-end: 3rem;
}

@media only screen and (max-width: 39.625em) {
  .preview-details__heading {
    padding: 0;
    margin-block-start: -1rem;
  }
}

.preview-details__product {
  order: -1;
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 5px;
  color: var(--color-neutral-200);
}
.product-details__summary {
  font-size: 1.4rem;
  line-height: 1.5;
  color: var(--color-neutral-200);
}

.product-details__prices {
  display: flex;
  gap: 2rem;
}

.product-details__revise-price {
  font-family: var(--ff-secondary);
  font-size: 3.4rem;
  color: var(--color-primary-300);
}

.product-details__price {
  align-self: center;
  font-size: 1.2rem;
  text-decoration: line-through;
  color: var(--color-neutral-200);
}

.product-details__btn {
  padding: 1.5rem 3rem;
  font-size: 1.4rem;
  font-weight: var(--fw-bolder);
  background-color: var(--color-primary-300);
  color: var(--color-neutral-100);
  border: none;
  border-radius: 1rem;
  cursor: pointer;
  transition: all 0.2s;
}

.product-details__btn:hover {
  background-color: var(--color-primary-400);
}

.product-details__btn svg {
  margin-inline-end: 1rem;
  margin-block-end: -0.3rem;
}
